extends layout

block title
	| Админка

block headerBanner
	div.header_banner.__small
		img.header_banner_img(src="/img/header_banners/banner_5.jpg", alt="Баннер")
		div.header_banner_title
			h1.title_heading
				| Панель администратора
			div.title_text
				| - Управляй апокалипсисом

block content
	p Всего юзверей: #{users.length}
	table.users.pure-table(border=1)
		thead
			td Номер
			td Код
			td vkId
			td Имя
			td роль
			td Посл акт
			td Стал зом
			td Сожр
			td Таймер
			td Дать№*
		tbody
			each user in users
				tr
					td=user.number
					td=(user.number ? user.hash : '')
					td=user.vkontakteId
					td=user.profile.displayName
					td=user.role
					td=formatDate(user.lastActionDate)
					td=formatDate(user.getZombie)
					td=user.eatenHours
					td=formatDuration(user.timer)
					td
						if !user.number
							form.setNumber(action="/admin/setnumber", method="POST")
								input(type="hidden", name="vkId", value=user.vkontakteId)
								input(type="text", name="number", required="required")
								button(type="submit") Сохр.
						if user.number && user.medicines
							=user.medicines.length
	form.pure-form.submitMedicine(action="/admin/generatemedcine", method="POST")
		fieldset
			legend Сгенерировать лекарства. Всего существует: #{medicines.length}
			p
				label(for="medicineCount") Количество <= 100
				input#medicineCount(type="number", name="count", min="1", max="100", required="required")
			p
				label(for="medicineDescription") Описание
				input#medicineDescription(type="text", name="description", min="1", max="100", required="required")
			p
				label(for="validTo") Срок годности в формате "ММ-ДД ЧЧ:ММ" , например "10-04 17:00"
				input(type="text", required="required", name="validTo", title="ММ-ДД ЧЧ:ММ")
			input(type="submit", value="Сгенерировать")
	table.medicines.pure-table(border=1)
		thead
			td Код
			td Описание
			td Срок годности
			td Сгенерирован
			td Использован
			td Время использования
		tbody
			each medicine in medicines
				tr.medicine(class="#{medicine.usedBy ? 'used' : ''}")
					td=medicine.code
					td=medicine.description
					td=formatDate(medicine.validTo)
					td=formatDate(medicine.generated)
					td=medicine.usedBy
					td=formatDate(medicine.usedTime)
	form.pure-form.generateUsercodes(action="/admin/generateusercodes", method="POST")
		fieldset
			legend Сгенерировать id пользователей. Всего существует: #{usercodes.length}
			p
				label(for="usercodesCount") Количество <= 500
				input#usercodesCount(type="number", name="count", min="1", max="500", required="required")
				label(for="usercodesFrom") Начиная с
				input#usercodesFrom(type="number", name="from", min="1", required="required")
				a(href="/admin/cards") Карточки
			input(type="submit", value="Сгенерировать")
	table.usercodes.pure-table(border=1)
		thead
			td Номер
			td Код
			td Присвоен
		tbody
			each usercode in usercodes
				tr
					td=usercode.number
					td=usercode.hash
					td=usercode.usedBy
