extends layout

block title
	| Главная страница

block head
	script(type="text/javascript" src="//vk.com/js/api/openapi.js?113")

block headerBanner
	div.header_banner.__big
		img.header_banner_img(src="/img/header_banners/banner_2.jpg", alt="Баннер")
		div.header_banner_title
			h1.title_heading
				| #HVZKPI 2014
			div.title_text
				| - Каждый день может быть последним

block content
	div.col.col-1000.content_prm-video
		div.content_prm-video_title
			| Промо ролик
		iframe(
		src="//player.vimeo.com/video/96230372?title=0&amp;byline=0&amp;portrait=0&amp;color=cc9933",
		width="1000",
		height="562",
		frameborder="0",
		webkitallowfullscreen,
		mozallowfullscreen,
		allowfullscreen
		)
	div.col.col-640
		div.content_text-box.content_about
			h2.content_text-box_heading.content_about_heading Добро пожаловать в мир «Humans vs Zombies»
			p
				| - Любишь фильмы про зомби?
				br
				| - Всегда мечтал почувствовать себя героем?
				br
				| - Надоели серые будни?
				br
				b Тогда ты попал именно туда, куда нужно!
			| Игра, популярная в университетских кампусах США добралась и до Украины!
			| С 29 мая по 3 июня!
			| На территории всего Киевского Политехнического Института!
			| Для всех желающих (не только студентов КПИ)!

			ol Для участия нужно всего лишь:
				li Зарегистрироваться с помощью аккаунта в ВК;
				li Получить идентификационную карточку;
				li Найти белую повязку (платок, шарф, бинт и т.п.).

			p Участвуй сам и приглашай друзей: чем нас больше, тем масштабнее будет игра.
		.home-photos-top
			span: img(src="/img/home/home2.jpg")
		.home-photos-bottom
			span(style="margin-right: 4px")
				img(src="/img/home/home1.jpg")
			span(style="margin-right: 4px")
				img(src="/img/home/home3.jpg")
			span(style="margin-right: 4px")
				img(src="/img/home/home4.jpg")
			span
				img(src="/img/home/home5.jpg")

	div.col.col-300
		div.widget.widget-bg_1.short-info
			h2.widget_heading
				| Краткая информация
			ul.widget_body.widget_body-list
				li.list_item Дата: 29 мая - 3 июня
				li.list_item Место: Всё НТУУ "КПИ"
					a.list_item_link(href="/rules#gamezone") картa

		div.widget.widget-bg_2.timetostart
			if !hasStartedHome
				h2.widget_heading
					| До начала HVZ 2014
				div.widget_body
					=formatDuration(toStartHome)
			else if !hasEnded
				h2.widget_heading
					| До конца HVZ 2014
				div.widget_body
					=formatDuration(toEnd)
			else
				h2.widget_heading
					| HVZ 2014 окончено!
				div.widget_body
					| Следите за новостями в
					a(href='http://vk.com/kpihumans.vszombie')  нашей группе

		div.widget.widget-bg_1.gamerscount
			h2.widget_heading
				| Кол-во игроков
			div.widget_body
				| #{users.length}

		div.widget.widget-bg_1.vkgroup
			div#vk_groups
				script(type="text/javascript").
					VK.Widgets.Group("vk_groups", {
						mode: 2,
						width: "300",
						height: "500",
						color3: '#2f2f2f'
					}, 70889229);