extends layout

block title
	| Главная страница

block head
	script(src="//vk.com/js/api/openapi.js?113")
	script(src="/js/vendor/jssor.slider.min.js")
	script(src="/js/build/home.js")

block headerBanner
	div.header_banner.__big
		img.header_banner_img(src="/img/header_banners/banner_2.jpg", alt="Баннер")
		div.header_banner_title
			h1.title_heading
				| #КПИЗомби
			div.title_text
				| - Каждый день может быть последним

block content
	div.col.col-1000.content_prm-video
		div.content_prm-video_title
			| Промо ролик
		iframe(
		src="//www.youtube.com/embed/4-R31zST46g?rel=0",
		width="1000",
		height="563",
		frameborder="0",
		webkitallowfullscreen,
		mozallowfullscreen,
		allowfullscreen
		)


	.col.col-640
		#slider_home_container
			div.slides(u="slides")
				- for (var x = 1; x <= 21; x++)
					div
						img(u="image" src="/img/home/home#{x}.jpg")
		.content_text-box.content_about
			h2.content_text-box_heading.content_about_heading Добро пожаловать в мир «Humans vs Zombies»
			p
				| - Любишь фильмы про зомби?
				br
				| - Всегда мечтал почувствовать себя героем?
				br
				| - Надоели серые будни?
				br
				b Тогда ты попал именно туда, куда нужно!
			| Вторая игра Humans vs Zombies в Украине!
			| С 2-го по 8-е октября!
			| На территории всего Киевского Политехнического Института!
			| Для всех желающих (не только студентов КПИ)!

			h2.content_text-box_heading.content_about_heading Почему это круто?
			h3 Постоянный экшн
			p Всегда оглядывайтесь и будьте начеку, ведь Зомби могут быть за каждым углом! Будьте готовы прорываться боем к себе домой.
			h3 Команда
			p Сложно выжить одному? Тогда объединяйтесь. Используйте рации, сообщайте друг другу про активность другой команды, держите всю территорию под своим контролем!
			h3 Новые знакомства
			p Хотите найти друзей с других факультетов или вузов? Легко! Общий рейд за вакцинами или совместная охота знакомят как нельзя лучше.
			h3 Квесты
			p Любите головоломки? Хотите выполнять интересные задания? Не пропускайте квесты и получайте награды!
			h3 Время, удобное именно для вас.
			p Вы заняты утром, а вечером свободны? А может наоборот? Не беда, ведь в Игру можно “заходить” именно тогда, когда вам удобно.
			p Участвуй сам и приглашай друзей: чем нас больше, тем масштабнее будет игра.

			if ! isAuth
				div.regbutton
					a(
						data-reveal-id="user-greement_modal"
					)
						| &nbsp;Register now!&nbsp;

			h2.content_text-box_heading.content_about_heading Батлы предыдущего сезона
			div.col.col-1000.content_prm-video
				- for video_id, i in ['hgwiEvPTl8g','m-ZTFb9-Yo8','B2wT-kWH_gU']
					iframe(
					src="//www.youtube.com/embed/#{video_id}?rel=0",
					width=i % 2 ? '334' : '333',
					height="188",
					frameborder="0",
					webkitallowfullscreen,
					mozallowfullscreen,
					allowfullscreen
					)

	.col.col-300
		.widget.widget-bg_1.short-info
			h2.widget_heading
				| Краткая информация
			ul.widget_body.widget_body-list
				li.list_item Дата: 18-21 мая
				li.list_item Место: Всё НТУУ "КПИ"
					a.list_item_link(href="/rules#gamezone") картa
		.widget.widget-bg_2.timetostart
			if !hasStartedHome
				h2.widget_heading
					| До начала HVZ 2017
				.widget_body
					=formatDuration(toStartHome)
			else if !hasEnded
				h2.widget_heading
					//| До конца HVZ 2014
					| Финальная битва
				div.widget_body
					//=formatDuration(toEnd)
					| 21 мая
			else
				h2.widget_heading
					| HVZ 2014 окончено!
				div.widget_body
					| Следите за новостями в
					a(href='https://vk.com/hvz_in_kpi')  нашей группе

		div.widget.widget-bg_1.gamerscount
			h2.widget_heading
				| Кол-во игроков: #{users.length}
			div.widget_body
				p
					| Еще не участвуют: #{teams.pending.length}&nbsp;
				p
					| Людей: #{teams.human.length}&nbsp;
					| Зомби: #{teams.zombie.length}&nbsp;
				p Выбыло: #{teams.dead.length}

		div.widget.widget-bg_1.vkgroup
			div#vk_groups
				script(type="text/javascript").
					VK.Widgets.Group("vk_groups", {
						mode: 2,
						width: "300",
						height: "500",
						color3: '#2f2f2f'
					}, 70889229);
	div.col.col-640
