doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title
			block title
			| | Humans vs Zombies KPI
		link(rel="stylesheet" href='/css/build/style.css')
		link(rel="stylesheet" href='/css/style-2.css')
		script(type="text/javascript", src='//code.jquery.com/jquery-2.1.1.min.js')
		block head

	body
		div.wrapper.clearfix
			header.header
				div.header_abs
					div.header_inline-nav.clearfix
						div.header_inline-nav_social
							div.social_heading
								| Мы в социальных сетях:
							ul.social_list
								li.list_item
									a.vk(href="http://vk.com/hvz.kiev", target="_blank") Вконтакте
								//li.list_item
								//	a.fb(href="/", target="_blank") Facebook
								//li.list_item
								//	a.tw(href="/", target="_blank") Twitter

						div.header_inline-nav_auth
							if isAuth
								a.auth_action(href="/profile")
									| Личный кабинет
								span.header_separator
								a.auth_action.logout(href="/logout")
									| Выйти
							else
								a.auth_action(href="/auth/vkontakte")
									| Вход
								span.header_separator
								a.auth_action(href="#", data-reveal-id="user-greement_modal")
									| Регистрация

					a.header_logo(href="/")
						img.header_logo_img(src="/img/logo.png", alt="Humans vs Zombies KPI")

					div.header_main-nav
						ul.header_nav_navbar
							li.navbar_item(class="#{section == 'home' ? '__active' : ''}")
								a.navbar_item_link(href="/") Главная
							li.navbar_item(class="#{section == 'rules' ? '__active' : ''}")
								a.navbar_item_link(href="/rules") Правила
							//if isAuth && (user.role === 'human' || user.isAdmin)
							if isAuth && user.isAdmin
								li.navbar_item(class="#{section == 'teamHuman' ? '__active' : ''}")
									a.navbar_item_link(href="/teamHuman") Команда людей
							//if isAuth && (user.role === 'zombie' || user.isAdmin)
							if isAuth && user.isAdmin
								li.navbar_item(class="#{section == 'teamZombie' ? '__active' : ''}")
									a.navbar_item_link(href="/teamZombie") Команда зомби
							if isAuth && user.isAdmin
								li.navbar_item(class="#{section == 'admin' ? '__active' : ''}")
									a.navbar_item_link(href="/admin") Админ панель
							//li.navbar_item
								a.navbar_item_link(href="/m") Мобильная версия

				block headerBanner

			div.content.clearfix
				block content

		div.footer
			| Humans vs Zombies KPI © 2014
			br
			small.footer_developers Сайт разработали:
				a.developer(href="https://vk.com/eagleeye_s", target="_blank") Андрей Шумада
				| и
				a.developer(href="https://vk.com/geekiam", target="_blank") Антон Федулов

		div#user-greement_modal.user-greement_modal.reveal-modal.xlarge
			h1 Соглашение участника игры «Humans vs. Zombies-2014
			ul
				li Организаторы не несут ответственности за травмы, полученные участниками во время игры.
				li При необходимости организаторы могут корректировать правила на протяжении всего игрового времени.
				li Организаторы обязуются отображать любые изменения правил в новостных лентах обеих команд.
				li За нарушение правил игры организаторы имеют право немедленно дисквалифицировать игрока. 
			h2 Участникам запрещается:
			ul
				li Выполнять любые игровые действия вне игровых зон.
				li Использовать любое другое вооружение, кроме Снаряда, регламентированного правилами.
				li Заворачивать любые предметы в Снаряд.
				li Принимать алкогольные или слабоалкогольные напитки с надетой игровой повязкой.
				li Ловить людей на проезжей части и на остановках общественного транспорта.
			a(href="/auth/vkontakte") Согласен, погнали!
			a.close-reveal-modal Не согласен
		script(type="text/javascript", src='/js/vendor/jquery.reveal.js')
		include analytics
