extends mobileLayout

block content
	if isAuth
		.ui-bar
			if profileMessage
				p=profileMessage
			p Здраствуйте, #{user.profile.displayName}. Ваша роль - #{user.role == 'human' ? 'Человек' : 'Зомби'}
			p Вам нужно съесть #{user.role == 'human' ? 'лекарство' : 'человека'} на протяжении #{formatDuration(user.timer)}
		if user.role == 'human' || user.isAdmin
			form(action="/human/submitMedicine", method="POST")
				.ui-field-contain
					label(for="inputMedicine") Ввести код лекарства
					.ui-input-text
						input#inputMedicine(type="text", name="code")
				button.ui-btn(type="submit") Полечиться
		if user.role == 'zombie' || user.isAdmin
			form(action="/zombie/submitHuman", method="POST")
				.ui-field-contain
					label(for="inputHuman") Ввести код человека
					.ui-input-text
						input#inputHuman(type="text" name="hash")
				button.ui-btn(type="submit") Захавать человека
		a.ui-btn.ui-corner-all(href="/logout") Выйти
	else
		.ui-field-contain
			.ui-bar Мобильная версия HVZ
			a.ui-btn.ui-corner-all(href="/login/mobile") Войти через Вконтакте