extends layout
block head
	script(src='//vk.com/js/api/openapi.js?112')
	script.
		VK.init({apiId: #{vkAppId}, onlyWidgets: true});
block title
	| Команда людей

block headerBanner
	div.header_banner.__small
		img.header_banner_img(src="/img/header_banners/banner_1.jpg", alt="Баннер")
		div.header_banner_title
			h1.title_heading
				| Команда людей
			div.title_text
				| - Не попадайся на глаза зомби

block content
	.news_col
		if news && news.length > 0
			for _new in news
				| - !{_new}
		else
			h3 Мобильная версия
			p
				| Не забываем, что для быстрой проверки таймера и введения кода можно использовать мобильную версию сайта, которая находится по адресу&nbsp;
				a(href="http://www.hvz.kiev.ua/m") hvz.kiev.ua/m
			h3 Получение карточек
			p Карточки и повязки можно будет получить в четверг, 02.10 с 14:00 до 18:00 на площади Знаний (возле Прометея), а с 18:00 до 20:00 в антикафе Бергамот (ул Смоленская 3).
			h3 Зомби-апокалипсис уже совсем скоро!
			p Что нужно делать игрокам и как будет проходить игровой процесс?
			p Перед игрой необходимо внимательно прочесть правила. Затем прочесть их еще раз.
			p Первый этап игры, "заражение", начнется в 12:00. Появляется Первый Зомби и выходит на охоту. Все игроки надевают опознавательные повязки (на ЛЕВОЙ руке), если собираются выйти в игровую зону.
			p Вы свободно гуляете, общаетесь друг с другом, знакомитесь с товарищами по игре и т. д. Первый Зомби НЕ носит опознавательной повязки до 18:00. Возможно, это время будет изменено в связи с ситуацией в игре (если Первый Зомби не встретит ни одного Человека, к примеру). 
			p Номер карточки Первого Зомби - 69.
			p Если вас коснулся Первый Зомби, вы должны показать ему свою игровую карточку. После того, как он переведет вас в команду Зомби на сайте, вы становитесь Зомби. 
			p После превращения в Зомби, ловить Людей вы имеете право только с НАДЕТОЙ опознавательной повязкой (БЕЛАЯ повязка на ГОЛОВЕ или ШЕЕ (как шейный платок).
			p Будьте осторожны, возможно, уже к концу этапа "заражения" вы встретите ораву Зомби.
			p Пожалуйста, не задавайте вопрос "а почему я не могу отсидеть фазу заражения вне игровой зоны?". Зачем вы тогда вообще участвуете в игре, если будете отсиживаться? Здесь все как в жизни, заразились от Зомби, значит заразились. Значит будете охотиться.
			p В 17:00 начинается основная игровая фаза - "апокалипсис". У ВСЕХ игроков запускаются игровые Таймеры. Таймер можно найти в личном кабинете на сайте hvz. 
			p В 17:00 появляются первые конверты с вакцинами. Подсказки о том, где их искать вы сможете найти на сайте.
			p Последующие «выбросы» вакцин будут производиться ежедневно в 10:00 и 17:00. 
			p Срок годности вакцины – 4 часа (ее можно использовать только до 14:00 и 21:00 соответственно). Вакцина дает вам прожить еще 24 часа. 
			p Зомби уже имеют небольшую стаю и начинают охотиться. Любой пойманный Человек превращается в Зомби только ПОСЛЕ того, как перейдет в соответствующую команду на сайте.
			p И помните, что основная цель игры - это получение удовольствия, поэтому будьте доброжелательны и не допускайте конфликтов.
			p Good luck! Have fun!
	h3 Командный чат
	#vk_comments
	script.
		VK.Widgets.Comments("vk_comments", {limit: 10, width: "350", attach: "*", page_id: "hvz2_teamHuman"});

	hr
	h3 Список участников команды
	.group-list-wrapper
		p Всего: #{users.length}
		ul.list-group
			each user in users
				li.list-group-item.user-list
					a(href=user.profile.profileUrl)
						#img.avatar(src=user.profile.photos[0].value)
						=user.profile.displayName
