extends layout
block head
	script(src='//vk.com/js/api/openapi.js?112')
	script.
		VK.init({apiId: #{vkAppId}, onlyWidgets: true});
block title
	| Команда людей

block headerBanner
	div.header_banner.__small
		img.header_banner_img(src="/img/header_banners/banner_1.png", alt="Баннер")
		div.header_banner_title
			h1.title_heading
				| Команда людей
			div.title_text
				| - Не попадайся на глаза зомби

block content
	p 31.05  Появилась информация об одном из выживших ученых, золотых умов мира сего. Однако, он достаточно стар и слаб, чтобы воевать. Вам нужно помочь ему пересечь территорию без плохих последствий, и выгода не заставит себя ждать.
	p Он будет в 14.30 в точке, указанной на карте (это НЕ ИГРОВАЯ зона). Все детали он расскажет на месте. Если Зомби коснуться его, то квест провален.
	img.full-width(src="/img/map3105.jpg")
	hr
	h3 31.05 ВАЖНО! 
	p Игрокам команды Зомби ЗАПРЕЩЕНО ПРИКАСАТЬСЯ к Конвертам И ВАКЦИНАМ, воздействовать на них ЛЮБЫМИ другими предметами, проводить над ними ЛЮБЫЕ действия (поджигать, поливать водой и т. п.), или просить это делать НЕ ИГРОКОВ.
	h3 ВАЖНО! 
	p Игрок Человек должен ОТДАТЬ свою игровую карточку поймавшему его ЗОМБИ только ПОСЛЕ того, как убедится, что поймавший его Зомби находится в команде ЗОМБИ на САЙТЕ (роль показывается в мобильной версии в личном кабинете, либо он должен быть в списке в Команде Зомби, либо фото из личного кабинета с временем и датой).
	p Это правило вводится потому, что много зомби УЖЕ ВЫБЫЛИ из игры и по правилам НЕ МОГУТ ловить других игроков. Так же игроков не должны ловить Зомби, которые до сих пор сидят в команде Людей на Сайте.
	hr
	h3 ВАЖНО! 
	p ВСЕ Зомби, все еще находящиеся в команде Люди, нажимайте клавишу "меня поймали" и переходите в команду ЗОМБИ. Будьте ЧЕСТНЫМИ!
	hr
	p 30.05 Ночной квест переноситься по нескольким причинам: из-за погодных условий и из-за того, что еще не все зомби еще нажали кнопку "меня поймали" и находятся в команде людей
	p Так как зомби знали о том, где были конверты (а они не должны были этого знать), админы предоставляют Людям еще 20 вакцин. Используйте их бережно.
	p c95273a7-1b04
	p afd68621-a0f0
	p 67010d35-09ef
	p 1751e1f3-f523
	p cfe59160-51af
	p 85ca242f-f696
	p cbc1f007-5a65
	p 247377a5-f5fc
	p 41696967-669e
	p 3c3fc4e8-e4f4
	p 5fae9476-edab
	p a45c681c-b401
	p 9fdf3c93-3866
	p 5c2e2385-cd5a
	p f3a92ea9-6b86
	p 64ea1c1d-f5c2
	p 5f01d8d1-36a2
	p 3fabd61e-cca5
	p 3f910a08-681e
	p 53ea1c63-8bdb
	hr
	p 30.05. По данным разведки появились новые вакцины. Их можно найти здесь:
	each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
		img.medicine3005(src="/img/medicine3005/medicine3005_#{val}.jpg")
	hr
	p 30.05 Выдача карточек будет происходить 30.05 с 16:30 до 18:00 возле нового Прометея. Девушка будет с повязками на руке и на голове (образец, какими они должны быть). Надевать повязки ДО получения игровых карточек ЗАПРЕЩЕНО.
	p Сегодняшний квест будет в темное время суток, так что готовьте фонарики.
	hr
	h3 30.05 Внимание всем, ВАЖНАЯ информация.
	p Исходя из вчерашнего игрового процесса, в игру вводятся уточняющие правила.
	p 1. Новая форма ношения повязок. Для людей - на Левой руке, на ПРЕДПЛЕЧЬЕ БЛИЖЕ К ЛОКТЮ или на БИЦЕПСЕ БЛИЖЕ К ЛОКТЮ. Для зомби - на ГОЛОВЕ или на ШЕЕ (но она должна быть широкой, для девушек по возможности ПОВЕРХ волос). Повязка должна быть не тоньше 6 см.
	p ПРАВИЛЬНО повязку носить так:
	img.full-width(src="/img/bandage2.png")
	p 2. Для удобства Игроков введена игровая страница для Мобильных Телефонов. С нее вы можете видеть личный таймер, отправлять коды и нажимать кнопку “Меня поймали ”. Она находится по адресу <a href="http://www.hvz.kiev.ua/m">http://www.hvz.kiev.ua/m</a> и <s>к вечеру будет полностью роботоспособна</s> он уже работает.
	p 3. Забирать КОНВЕРТЫ с места их нахождения ЗАПРЕЩЕНО ВСЕМ игрокам.
	p 4. Если игрока поймали, он должен СРАЗУ (или в ближайшее время, если вообще уже нет интернета) нажать в своем профиле кноп у “Меня поймали”. Все игроки, которые УЖЕ стали Зомби, обязаны в личном кабинете нажать кнопку “Меня поймали”, чтобы пере еститься в команду Зомби. Пока что кнопка “Меня поймали” в разработке. К вечеру должна работать.
	p 5. Зомби может ловить следующего Человека ТОЛЬКО ПОСЛЕ того, как взял Идентификационную Карточку у предыдущего.. То есть, Зомби не может поймать двух и более игроков ОДНОВРЕМЕННО.
	p 6. Зомби может надевать Повязку Зомби и ловить игроков ТОЛЬКО ПОСЛЕ того, как появится на САЙТЕ в команде Зомби.
	p 7. Зомби может вводить код Человека тогда, когда ему нужно.
	p 8. Зомби, в которого попали Снарядом, не имеет права ходить за Человеком. Он может либо стоять на месте, либо удаляться от человека. Так же Зомби, поверженному снарядом, ЗАПРЕЩАЕТСЯ бежать. Время действия “оглушения” - 5 минут.
	hr
	p 29.05 Получить идентификационные карточки можна СЕГОДНЯ, 29.05 в ТОРГОВЦА под Аркой между 14 и 15 корпусами КПИ с 21:30 до 22:30.
	hr
	p 29.05 ВНИМАНИЕ! ЗОМБИ запрещается преследовать ЛЮДЕЙ, если у них попали снарядом! Они могут стоять или двигаться в противоположном направлении. Это сообщение появится также на странице ЗОМБИ!
	hr
	p 29.05. После начала заражения в лесистых местностях стали появляться неизвестные формы жизни (маленькие КРАСНЫЕ бумажные квадратики с игорвым значком).
	p Один торговец дает за них хорошую цену: За 10 штучек платит одну уникальную Вакцину. Такая Вакцина работает всю игру, то есть вы сможете использовать ее и через несколько дней, в тяжелой ситуации.
	p Они будут в парке КПИ с 20:30, а Торговец будет находиться под Аркой между 14 и 15 корпусами КПИ с 21:30 до 22:30. Cегодня вас ждет подарок судьбы, которого больше не будет на протяжении всего апокалипсиса. Не упустите возможность получить уникальную вакцину. Но будьте осторожны, эти формы жизни могут быть опасны...
	hr
	p 29.05 Итак, игра началась! Зомби уже охотятся за людьми! И их становится все больше з каждой минутой. Носите с собой снаряды! <s>Первый зомби будет ходить без повязки до 19.00</s>. ВСЕ зомби носят повязки!
	p У вас появился личный таймер в <a href="/profile" target="_blank">личном кабинете</a>, время пошло!
	p Появились также первые вакцины, вам нужно их достать и ввести до истичения таймера, если не хотите стать зомби!
	img.full-width(src="/img/Medicines2905.png")
	p Удачки!
	hr
	p 28.05. Зомби-апокалипсис вот-вот начнется!
	p Во-первых, все, кто еще не получил игровые карточки, смогут их получить 29.05 с 16:00 до 18:00 возле Нового Прометея (Площадь Знаний), на ступеньках. Если у вас еще нет игровой карточки, вы не должны надевать опознавательную повязку.
	p Во-вторых, что нужно делать игрокам и как будет проходить игровой процесс?
	p Перед игрой необходимо внимательно прочесть правила. Затем прочесть их еще раз.
	p Первый этап игры, "заражение", начнется в 12:00. Появляется Первый Зомби и выходит на охоту. Все игроки надевают опознавательные повязки (БЕЛАЯ повязка на ЛЕВОЙ руке), если собираются выйти в игровую зону.
	p Вы свободно гуляете, общаетесь друг с другом, знакомитесь с товарищами по игре и т. д. Первый Зомби НЕ носит опознавательной повязки до 17:00. Возможно, это время будет изменено в связи с ситуацией в игре (если Первый Зомби не встретит ни одного Человека, к примеру). Первый Зомби имеет уникальную игровую карточку, которую предъявляет пойманному игроку.
	p Если вас коснулся Первый Зомби, вы должны снять опознавательную повязку и отдать ему свою карточку. Через некоторое время (около получаса, Первый зомби уточнит), Первый Зомби отправит ваш ID на сайт и вы превратитесь в Зомби.
	p Вы становитесь Зомби только ПОСЛЕ того, как попадаете в соответствующую команду на сайте. После превращения в Зомби, ловить Людей вы имеете право только с НАДЕТОЙ опознавательной повязкой (БЕЛАЯ повязка на ШЕЕ (как шейный платок).
	p Будьте осторожны, возможно, уже к концу этапа "заражения" вы встретите ораву Зомби.
	p Пожалуйста, не задавайте вопрос "а почему я не могу отсидеть фазу заражения вне игровой зоны?". Зачем вы тогда вообще участвуете в игре, если будете отсиживаться? Здесь все как в жизни, заразились от зомби, значит заразились. Значит будете охотиться.
	p В 17:00 начинается основная игровая фаза - "апокалипсис". У ВСЕХ игроков запускаются игровые Таймеры. Таймер можно найти в личном кабинете на сайте hvz. В это же время в игровой зоне появляются конверты с Вакцинами. Они работают до 17:00 30.05.
	p Зомби уже имеют небольшую стаю и начинают охотиться. Любой пойманный Человек превращается в Зомби только ПОСЛЕ того, как перейдет в соответствующую команду на сайте.
	p Вечером пройдет первый игровой Квест. Подробная информация о нем, а также о месте, где можно найти конверты с Вакциной, будет позже.
	p И помните, что основная цель игры - это получение удовольствия, поэтому будьте доброжелательны и не допускайте конфликтов.
	p Good luck! Have fun!
	hr
	p 27.05. Идентификационные карточки все зарегистрировавшиеся игроки могут получить 28 мая, в среду с 16:00 до 20:00. Выдача будет происходить в трех пунктах:
	ul
		li
			| башня КПИ (левая башня первого корпуса), в нижней комнатке с подушками; выдавать будут
			a(href="http://vk.com/jo__vega", target="_blank")  Роман
			|  или
			a(href="http://vk.com/id41380611", target="_blank")  Валентина
		li
			|возле Нового Прометея (Площадь Знаний), на ступеньках; выдавать будут
			a(href="http://vk.com/p0zitivchik_a", target="_blank")  Алина
			|  или
			a(href="http://vk.com/id51551411", target="_blank")  Таня
		li
			| в антикафе Бергамот (ул. Смоленская 3), выдавать будут
			a(href="http://vk.com/m.melnikova", target="_blank")  Марья
			|  или
			a(href="http://vk.com/id17513783", target="_blank")  Оля
	#vk_comments
	script.
		VK.Widgets.Comments("vk_comments", {limit: 10, width: "520", attach: "*"});
	.group-list-wrapper
		p Список участников команды. Всего: #{users.length}
		ul.list-group
			each user in users
				li.list-group-item.user-list
					a(href=user.profile.profileUrl)
						img.avatar(src=user.profile.photos[0].value)
						=user.profile.displayName
